body, button {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

.fullscreen-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: none;
    border: none;
    size: 75px;
}

.controls {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
}

.controls>button {
    background: none;
    border: 3px solid black;
    text-transform: uppercase;
    width: 140px;
    font-size: 20px;
    font-weight: bold;
}

.body {
    font-weight: bold;
    font-size: 108px;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body>div {
    display: inline;
}